.love-container i{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(190, 224, 252);
}
.love-container i:hover{
    color: red;
}
.card {
    border: none; /* Remove border */
    max-width: 230px; /* Set maximum width as needed */
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;  
  }
    .card:hover {
        box-shadow: 0 8px 50px #23232333;
        transform: translateY(0.5%);
        opacity: 1;
    }
    .card:hover #buynowBtn{
        background: #f70063;
        color: #FFF;
        }
        
.img {
    margin-top: 10px;
    background: white;
    width: 204px;
    height: 234px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
  }
  
  .rating {
    position: relative;
    margin-left: -60px;
  }
  
  .rating:not(:checked)>input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked)>label:before {
    content: '★';
    color: #ff9e0b;
  
  }
  #hr {
    border: 2px solid #F3A9C6;
  }
  #borderHr {
    margin-top: 50px;
    margin-bottom: 50px;
  }  
  .ratingTotal {
    position: absolute;
    bottom: 20px;
    right: -43px;
    color: #000;
    font-family: Noto Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.49px;
    text-transform: capitalize;
  }
  
  .oldPrice {
      color:black;
  }
  
  .newPrice {
    color: #F40707;
  }
  
  .removePrice {
    position: absolute;
    top: -4px;
    width: 50px;
    border: 1px solid black;
  
  }

.h2Title{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Noto Sans;
    font-size: 39px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 11.7px;
    text-transform: uppercase;
}

#product_size{
    color: #000;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    padding-left: 25px;
    position: relative;
    width: 221px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    position: absolute;
    left: 30px;
    background-color: white;
    border: 0px;
    bottom: 90px;
    font-size: 12px;
    border-radius: 20%;
   }
   
    .title{
        max-width: 190px;
    }
#buynowBtn {
    width: 220px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #000;
    background: #F3A9C6;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 5.7px;
    text-transform: uppercase;
  }
  
  #buynowBtn:hover {
    background: #f70063;
    color: #FFF;
  }
 
    #fillter{
        border-bottom: 1px solid black;
        color: #000;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Noto Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    

    #fillterSearch {
        position: relative;
        display: inline-block;
        color: black;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Noto Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 6px;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        margin-right: 30px;
    }
    
    #fillterSearch::after {
        content: "♥♥♥";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        background-image: linear-gradient(90deg, rgb(255, 115, 139), transparent);
        background-clip: text;
        background-size: 200% 100%;
        transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        box-shadow: 0 0 10px rgb(255, 255, 255); /* Hiệu ứng chói sáng */
    }
    
    #fillterSearch:hover::after {
        background-position: -100% 0;
        box-shadow: 0 0 50px rgb(255, 0, 0); /* Hiệu ứng chói sáng khi hover */
    }
    
    
    #fillterSearch:hover {
        color: rebeccapurple;
    }
    
    #selectFilter{
        border: none;
        border-bottom: 1px solid black;
        max-width: 300px;
        padding-left: 20px;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    #selectFilter:focus{
        color: lightpink;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        border-color: pink; /* Màu sắc khi thẻ được focus */
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); /* Hiệu ứng bóng khi focus */
    }
    #formFillter,#formFillters{
       max-height:600px;
       border-radius: 10px;
    }