#headAboutUs,#bodyAboutUs{
    display: none;
}
#modelPayment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10px;
    border-radius: 10px;
  }

  .content {
    text-align: center;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    padding: 15px;
    margin-top: -180px;
  }

  .btn-primary {
    width: 100%;
    height: 100%;
    background: #24A768;
    border-radius: 10px;
    border: 1px black solid;
  }

  .btn-primary.font-weight-bold {
    font-weight: bold;
  }

  /* Thêm các lớp để căn lề nội dung trong các cột */
  .content .row .col-6 {
    text-align: left;
    padding: 10px; /* Điều chỉnh khoảng cách giữa nội dung và biên của cột */
  }

  /* Căn lề bên phải cho nội dung trong cột bên phải */
  .content .row .col-6:last-child {
    text-align: right;
  }