.haha{
    color: red;
}
#hr {
  border: 2px solid #F3A9C6;
}

#borderHr {
  margin-top: 50px;
  margin-bottom: 50px;
}

#buttonSignUp,
#buttonSignIn {
  width: 161.434px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  color: Black;
  text-align: center;
  font-family: Poly;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.7%;
  /* 24.675px */
  text-transform: uppercase;
}

#buttonSignUp:focus,
#buttonSignIn:focus,
#buttonSignUp:hover,
#buttonSignIn:hover {
  width: 161.434px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: Poly;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 98.7%;
  /* 24.675px */
  text-transform: uppercase;
}


#banner img {
  position: relative;
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: pink 0px 10px 10px -5px;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.discountBanner {
  position: absolute;
  top: 271px;
  right: 50px;
  color: #FFF;
  font-family: Days One;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%; /* 147.5px */
  letter-spacing: 33px;
  text-transform: capitalize;
}
.btnBanner {
  position: absolute;
  top: 450px;
  right: 80px;
}

#buynowBtn {
  width: 180px;
  height: auto;
  border-radius: 15px;
  border: 1px solid #000;
  background: #F3A9C6;
  color: #FFF;
  font-family: Noto Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.7px;
  text-transform: uppercase;
}

#buynowBtn:hover {
  background: #f70063;
  color: #FFF;
}


.card {
  position: relative;
  width: 273px;
  height: auto;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 78px;
  /* Đường kính = bán kính * 2 = 39 * 2 = 78px */
  height: 78px;
  border-radius: 50%;
  /* Tạo thành hình tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3A9C6;
}

.circle-container1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 78px;
  /* Đường kính = bán kính * 2 = 39 * 2 = 78px */
  height: 78px;
  border-radius: 50%;
  /* Tạo thành hình tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #388F70;
}

.circle-container1 span {
  text-align: center;
  color: #FAF2F2;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}

.circle-container span {
  width: 60px;
  text-align: center;
  color: #000;
  font-family: Noto Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.49px;
  text-transform: capitalize;
}
.img {
  margin-top: 40px;
  background: white;
  width: 204px;
  height: 234px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
}

.title {
  margin-top: 10px;
  width: 80%;
}

.rating {
  position: relative;
  margin-left: -60px;
}

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: '★';
  color: #ff9e0b;

}

.ratingTotal {
  position: absolute;
  bottom: 20px;
  right: -43px;
  color: #000;
  font-family: Noto Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.49px;
  text-transform: capitalize;
}

.oldPrice {
    color:black;
}

.newPrice {
  color: #F40707;
}

.removePrice {
  position: absolute;
  top: -4px;
  width: 50px;
  border: 1px solid black;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Invert color to black */
}

.carousel-control-prev,
.carousel-control-next {
    margin: 90px;
    max-width: 5%;
    color: black; /* Set text color to black */

}
#ImgService {
  margin-bottom: 100px;
}
.slogan{
  position: absolute;
  right: 50px;
  bottom: 120px;
  color: #FFF;
  font-family: Donegal One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%; /* 44.25px */
  letter-spacing: 6.9px;
  text-transform: capitalize;
}